img{
    max-width: 50%;
}
#specialmage{
    max-width: 50%;
}

main,header{
    margin-left: auto;
    margin-right: auto;
}

style{
    max-width: fit-content;
}

h1{
    color: mediumpurple;
}

nav ul{

    list-style-type: disc;
    -ms-hyphenate-limit-lines: calc(12);
    padding-left: 0;
    display:flex;
    flex-direction: column;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid bisque;
}

.em-text{
    color: rosybrown;
    font-style: italic;
}

.red-text{
    color: antiquewhite;
}

.green-text{
    color: aquamarine;
}

a{
    color: rgb(15, 15, 15);
    text-decoration: none;
    background-color: bisque;
}

@media (min-width: 768px){
    .green-text{
        color: cadetblue;
    }
    .red-text{
        color: hotpink;
    }
    .em-text{
        color: mediumorchid;
    }
    a{
        color: azure;
        text-decoration: solid;
        background-color: darkgreen;
    }
     h1{
        color: coral;
        text-align: center;
     }
     nav ul li{
        border:none;
        padding: 0
    ;

     }
     @media (min-width: 1024px){
        .green-text{
            background-color: lightgrey;
            color: cornflowerblue;
            font-style: initial;
        }
        .red-text{
            background-color: lightgrey;
            color: burlywood;
        }
        .em-text{
            background-color: lightgrey;
            color: chocolate;
        }
        a{
            color: blueviolet;
            background-color: aquamarine;
        }
        nav ul li{
             border: antiquewhite;
             padding: 2px;
             outline-color: aquamarine;
             outline-style: dotted;
        }
        nav ul{
            flex-direction: row;
            justify-content: space-between;
            
            
         }
       
     }
     h1{
        color: thistle;
        
    
     }
     
}

 