img{
    max-width: 100%;
}
#specialmage{
    max-width: 100%;
}

main,header{
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: mediumpurple;
}

nav ul{

    list-style-type: disc;
    -ms-hyphenate-limit-lines: calc(12);
    padding-left: 0;
    display:flex;
    flex-direction: column;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid bisque;
}

.em-text{
    font-style: italic;
}

.red-text{
    color: antiquewhite;
}

.green-text{
    color: aquamarine;
}

a{
    color: rgb(15, 15, 15);
    text-decoration: none;
    background-color: bisque;
}

@media (min-width: 600px){
        .red-text,
        .green-text{
            color: blueviolet;
        }
     nav ul{
        flex-direction: row;
        justify-content: space-between;
        
     }
     h1{
        color: coral;
        justify-content: center;
     }
     nav ul li{
        border:none;
        padding: 0
    ;

     }
     @media (min-width: 800px){
        .red-text{
            color: burlywood;
        }
        .green-text{
            color: darkslategrey;
        }
        .em-text{
            color: chocolate;
        }
        
     }
}

 