img{
    width: 255px;
}

#specialImage{
    width: 175px;
}

main,header{
    width: 768px;
    margin-left: auto;
    margin-right: auto;
 
   

}

nav ul{
    list-style: none;
    padding-left: 0;


}

nav ul li{
    display: inline-block;
}

.em_text{
font-style: italic;
}

.red text{
    color: antiquewhite;
}




 