img{
   max-width: 100%;
}

#specialImage{
    width: 175px;
}

main,header{
    
    margin-left: auto;
    margin-right: auto;
 
   

}

nav ul{
    list-style: none;
    padding-left: 0;


}

nav ul li{
    display: inline-block;
}

.em-text{
    font-style: italic;
}

.red-text{
    color: antiquewhite;
}

.green-text{
    color: aquamarine;
}

a{
    color: rgb(15, 15, 15);
    text-decoration: none;
    background-color: bisque;
}


 