  
#specialImage {
    width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 30px; 
    margin-bottom: 30px;

}

.first-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}
main h1 {
    color: gold;
    text-align: center;
}