/* 全局样式 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

main h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
}

/* 左右布局样式 */
.content {
  display: flex; /* 使用 flexbox 布局 */
  align-items: center; /* 垂直居中对齐 */
  justify-content: space-between; /* 两边对齐 */
  margin-bottom: 40px; /* 每组内容的间距 */
  gap: 20px; /* iframe 和文字之间的间距 */
}

iframe {
  margin-left: 120px;
  width: 50%; /* iframe 占 60% 的宽度 */
  height:500px; /* 固定高度 */
  border: none; /* 移除边框 */
  margin-left: 120px;
}

.content p {
  width: 35%; /* 文本占 35% 的宽度 */
  font-size: 16px; /* 文本大小 */
  line-height: 1.6; /* 行间距 */
  margin: 0px; /* 去掉默认间距 */
  margin-right: 80px;
}

p {
  color: #ffffff; /* 橙红色 */
}